@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    This is an example <a href="https://dotnet.microsoft.com/apps/aspnet/mvc" target="_blank">ASP.NET MVC Web Application</a> 
    with <a href="https://docs.microsoft.com/en-us/dotnet/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework" target="_blank">C# .NET</a> 
    and <a href="https://docs.microsoft.com/en-us/aspnet/entity-framework" target="_blank">Entity Framework</a>, and using GeoSpatial data like Latitude and Longitude
    to determine distances to locations in the <a href="http://www.cocoabeach.com/" target="_blank">Cocoa Beach, Florida</a> 
    area and <a href="http://www.myflorida.com/" target="_blank">Central Florida</a> area.
    This application is hosted in the <a href="https://azure.microsoft.com" target="_blank">Microsoft Azure Cloud</a>.
</p>

<br />
<br />
<br />
<br />
<br />
<br />
