@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h4>Michael G. Workman</h4>
<address>
    204 Roosevelt Avenue #3<br />
    Cocoa Beach, FL 32931-5609<br />
    <abbr title="Phone">P:</abbr>
    321.432.9295
</address>

<address>
    <strong>Email:</strong>   michael DOT g DOT workman AT gmail DOT COM<br />
</address>

<br />
<br />
<br />
<br />
<br />
<br />