@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h4>Michael G. Workman</h4>
<address>
    208 Caroline Street #504<br />
    Cape Canaveral, FL 32920-2711<br />
    <abbr title="Phone">P:</abbr>
    321.432.9295
</address>

<address>
    <strong>Email:</strong>   michael DOT g DOT workman AT gmail DOT COM<br />
</address>

<br />
<br />
<br />
<br />
<br />
<br />