@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GeoSpatial</h1>
    <h4>ASP.NET MVC Web Application with Entity Framework ORM and Hosted on Azure Cloud Platform</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865" target="_blank">
            Learn more &raquo;
        </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure Cloud Platform</h2>
        <p>You can easily host and maintain ASP.NET MVC Web Applications in the Azure Cloud Platform</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

<br />